VPN_SERVER='YOUR VPN SERVER IP OR FQDN'
VPN_PSK='my pre shared key'
VPN_USERNAME='myuser@myhost.com'
VPN_PASSWORD='mypass'
VPN_SCOKS5_ENABLE=0
VPN_SCOKS5_PORT=1080
VPN_SCOKS5_FORKS=2
VPN_SCOKS5_START_DELAY=5